@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="page">
	<div class="page-background-class">
		<div class="container p-4">
			<div class = "col-12">
				<br />
				<br />
					<div class="col-12">
						@Body
					</div>
			</div>
		</div>
	</div>
	<footer class="text-center text-white fixed-bottom">
		<p>Powered by: KING ICT Team 4</p>
	</footer>

	<BlazoredToasts Position=ToastPosition.BottomCenter
					Timeout="5"
					IconType="IconType.FontAwesome"
					SuccessClass="success-toast-override"
					SuccessIcon="fa fa-thumbs-up"
					ErrorIcon="fa fa-bug" />
</div>
